@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

@media print {
  nav {
    display: none;
  }
}

:root {
  font-family: Arimo, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

h1 {
  font-size: 20pt;
  font-weight: bold;
}

h2 {
  font-size: 14pt;
  font-weight: bold;
}

h3 {
  font-size: 15pt;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 1em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  color: #2563EB;
}

code {
  font-family: Cousine, 'Courier New', Courier, monospace;
}

/* Navbar height control */

nav {
  height: var(--paper-margin);
}

.paper {
  top: var(--paper-margin);
}

@media print {
  .paper {
    top: 0;
  }
}

/* Control display, visibility, opacity of sections */

#certificates,
#interests,
#work,
#languages {
  opacity: 20%;
  display: none;
}

/* Fix first column width in DefinitionTable, to match sections */

#skills,
#languages {
  & td:first-child {
    width: 1.5in;
  }
}

/* Set vertical spacing of VerticalCard */

#education > div,
#projects > div,
#interests > div {
  margin-bottom: 1.5em;
}

/* Then use the following hack to remove VerticalCard bottom padding from container */

#projects,
#education {
  margin-bottom: -1.5em;
}
