:root {
  font-size: 10pt;
  --root-font: Arimo, Arial, Helvetica, sans-serif;
  --title-font: Inter, var(--root-font);
  --caps-font: 'Work Sans', var(--root-font);
  font-family: var(--root-font);
}

h1 {
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 22pt;
}

h2 {
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 14pt;
}

h3 {
  font-size: 15pt;
  font-family: var(--title-font);
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 1em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  color: #2563eb;
}

code {
  font-family: Cousine, 'Courier New', Courier, monospace;
}

/* Fix first column width in DefinitionTable, to match sections */

#skills,
#languages {
  & td:first-child {
    width: 1.5in;
  }
}
