:root {
  font-family: Arimo, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

h1 {
  font-size: 20pt;
  font-weight: bold;
}

h2 {
  font-size: 14pt;
  font-weight: bold;
}

h3 {
  font-size: 15pt;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 1em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  color: #2563eb;
}

code {
  font-family: Cousine, 'Courier New', Courier, monospace;
}

/* Navbar height control */

.paper {
  top: calc(2 * var(--paper-margin));
}

@media print {
  .paper {
    top: 0;
  }
}

/* Fix first column width in DefinitionTable, to match sections */

#skills,
#languages {
  & td:first-child {
    width: 1.5in;
  }
}
