@media print {
  nav,
  aside {
    display: none !important;
  }
}

.container {
  z-index: 9999;
  background-color: black;
  color: white;

  position: fixed;
  width: var(--paper-width);
  left: 0;
  right: 0;
  margin: 0 auto;
}

nav.container {
  top: 0;
  height: var(--paper-margin);
  justify-content: space-between;

  & * {
    display: inline-block;
  }

  & form[name='source'] {
    text-align: left;
    margin: auto 0;
  }

  & .icons {
    font-size: var(--paper-margin);
    float: right;
  }
}

aside.container {
  top: var(--paper-margin);
  height: var(--paper-margin);
  font-size: 10pt;
  line-height: var(--paper-margin);
}

.sidebar {
  background-color: black;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .controllerContainer {
    & details:not(:first-child) {
      margin-top: 2em;
    }

    & summary {
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  & div,
  & footer {
    margin: 1em;
  }

  & footer {
    display: flex;
    justify-content: center;
  }
}
