.container {
  margin-top: 1.5em;
}

.title {
  font-size: 12pt;
  font-weight: bold;
}

.subtitle {
  margin-left: 2em;
}

.description {
  margin-top: 0.5em;
}

.highlights {
  margin-top: 0.5em;

  & ul {
    list-style: outside;
    padding-left: 2.5em;
  }
}
