.justifyLeft {
  display: inline-block;
  overflow: hidden;
  vertical-align: text-bottom;
  line-height: normal;

  & ul {
    margin-left: -11px;
    display: flex;
    flex-wrap: wrap;
  }

  & li {
    border-left: solid black 1px;
    padding: 0 10px;
  }

  & li:last-child {
    padding-right: 0;
  }
}

.justifyRight {
  display: inline-block;
  overflow: hidden;
  vertical-align: text-bottom;
  line-height: normal;

  & ul {
    margin-right: -9px;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
  }

  & li {
    border-right: solid 2px;
    padding: 0 7px;
  }

  & li:first-child {
    padding-left: 0;
  }
}

.legacy {
  white-space: nowrap;

  & ul {
    padding-left: 0;
    display: inline;
  }

  & li {
    display: inline;

    &:not(:first-child) {
      &::before {
        content: '|';
        font-weight: bold;
        padding: 0 0.5em;
      }
    }
  }
}
