@media print {
  nav,
  aside {
    display: none;
  }
}

.container {
  z-index: 9999;
  background-color: black;
  color: white;

  position: fixed;
  width: var(--paper-width);
  left: 0;
  right: 0;
  margin: 0 auto;
}

nav.container {
  top: 0;
  height: var(--paper-margin);
  justify-content: space-between;

  & * {
    display: inline-block;
  }

  & form[name='source'] {
    text-align: left;
    margin: auto 0;
  }

  & .icons {
    font-size: var(--paper-margin);
    float: right;
  }
}

aside.container {
  top: var(--paper-margin);
  height: var(--paper-margin);
  font-size: 10pt;
  line-height: var(--paper-margin);
}
