.container {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
}

.content {
  width: var(--paper-width);
  height: var(--paper-margin);
  display: flex;
  margin: 0 auto;
  vertical-align: middle;

  & form[name='source'] {
    display: inline-block;
    text-align: left;
    margin: auto 0;
  }

  & a {
    display: inline;
    margin-left: auto;
    height: 100%;
  }
}
