.container {
  display: inline-block;
  vertical-align: top;
}

.heading {
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  & span {
    line-height: 11pt;
    
    &.title {
      font-size: 11pt;
    }
    
    &.subtitle {
      font-size: 9pt;
      color: #666666;
      flex-grow: 1;
      text-align: right;
    }
  }
}

.description {
  & a {
    display: block;
    font-size: 9pt;

    &:last-child {
      margin-bottom: 1em;
    }
  }
}

.highlights {
  margin-top: 0.5em;

  & ul {
    list-style: outside;
    padding-left: 1.25em; /* default is 2.5em (40px) */
  }
}
